/* for cards */

#projects .display-none {
  display: none!important;
}

@media only screen and (max-width: 767px) {
#projects .ui.stackable.cards>.card.display-none {
  display: none!important;
}  
}

/* for labels */

#projects .ui.cards>.card .meta.ui.horizontal.labels {
  margin-top: 0.5em;
}

#projects .ui.cards>.card .meta.ui.horizontal.labels .label {
  margin-bottom: 0.5em;
}

.pushable > .pusher {
  overflow: visible;
}

#submenu {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}

#submenu .menu {
  margin-left: auto;
  margin-right: auto;
}
